@tailwind base;
@tailwind components;

h1 { @apply font-extrabold text-3xl mb-6 tracking-wide; }
h2 { @apply font-medium text-2xl pt-4 mb-4 border-b border-gray-300; }
h3 { @apply font-medium text-xl pt-2 mb-2; }
h4 { @apply font-medium text-lg pt-2 mb-2; }
h5 { @apply font-medium pt-1 mb-1; }

a {
    @apply underline;
}

p {
    margin-bottom: 1rem;
}

.content ul {
    @apply list-disc ml-8 mb-8;
}

.content li {
    @apply pb-1;
}

.content ol {
    @apply list-decimal ml-8 mb-8;
}

.btn {
    @apply px-6 py-2 bg-blue-500 text-white no-underline rounded shadow mt-1 inline-block;
    transition: transform .2s ease, background-color .2s ease !important;
}
.btn:hover {
    @apply bg-blue-400;
    transform: translateY(-2px) !important;
}

blockquote {
    @apply italic text-gray-700 rounded bg-gray-200 p-4 mb-4;
}
blockquote p:last-child { @apply m-0; }

code {
    @apply bg-blue-100 text-blue-800;
    border-radius: 3px;
    padding: .15rem .4rem;
    font-size: .9em;
}

table {
    @apply w-full mb-8;
}
th {
    @apply bg-gray-200 border border-gray-400 p-2;
}
td {
    @apply border p-2;
}

.algolia-autocomplete { display: block !important; }
.algolia-autocomplete .ds-dropdown-menu a { @apply no-underline; }

.highlight {
    background-color: #282c34;
    @apply text-blue-200 text-sm shadow-md rounded p-4 mb-8;
}
.highlight pre { white-space: pre-wrap; word-break: break-word; }
.highlight .hll { background-color: #4f424c }
.highlight .c { color: #776e71 } /* Comment */
.highlight .err { color: #ef6155 } /* Error */
.highlight .k { color: #815ba4 } /* Keyword */
.highlight .l { color: #a5cadc } /* Literal */
.highlight .n { color: #e7e9db } /* Name */
.highlight .o { color: #5bc4bf } /* Operator */
.highlight .p { color: #e7e9db } /* Punctuation */
.highlight .ch { color: #776e71 } /* Comment.Hashbang */
.highlight .cm { color: #776e71 } /* Comment.Multiline */
.highlight .cp { color: #776e71 } /* Comment.Preproc */
.highlight .cpf { color: #776e71 } /* Comment.PreprocFile */
.highlight .c1 { color: #776e71 } /* Comment.Single */
.highlight .cs { color: #776e71 } /* Comment.Special */
.highlight .gd { color: #ef6155 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #e7e9db; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #48b685 } /* Generic.Inserted */
.highlight .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #815ba4 } /* Keyword.Constant */
.highlight .kd { color: #815ba4 } /* Keyword.Declaration */
.highlight .kn { color: #5bc4bf } /* Keyword.Namespace */
.highlight .kp { color: #815ba4 } /* Keyword.Pseudo */
.highlight .kr { color: #815ba4 } /* Keyword.Reserved */
.highlight .kt { color: #fec418 } /* Keyword.Type */
.highlight .ld { color: #48b685 } /* Literal.Date */
.highlight .m { color: #a5cadc } /* Literal.Number */
.highlight .s { color: #48b685 } /* Literal.String */
.highlight .na { color: #06b6ef } /* Name.Attribute */
.highlight .nb { color: #e7e9db } /* Name.Builtin */
.highlight .nc { color: #fec418 } /* Name.Class */
.highlight .no { color: #48b685 } /* Name.Constant */
.highlight .nd { color: #5bc4bf } /* Name.Decorator */
.highlight .ni { color: #e7e9db } /* Name.Entity */
.highlight .ne { color: #ef6155 } /* Name.Exception */
.highlight .nf { color: #06b6ef } /* Name.Function */
.highlight .nl { color: #e7e9db } /* Name.Label */
.highlight .nn { color: #fec418 } /* Name.Namespace */
.highlight .nx { color: #06b6ef } /* Name.Other */
.highlight .py { color: #e7e9db } /* Name.Property */
.highlight .nt { color: #a5cadc } /* Name.Tag */
.highlight .nv { color: #ef6155 } /* Name.Variable */
.highlight .ow { color: #5bc4bf } /* Operator.Word */
.highlight .w { color: #e7e9db } /* Text.Whitespace */
.highlight .mb { color: #a5cadc } /* Literal.Number.Bin */
.highlight .mf { color: #a5cadc } /* Literal.Number.Float */
.highlight .mh { color: #a5cadc } /* Literal.Number.Hex */
.highlight .mi { color: #a5cadc } /* Literal.Number.Integer */
.highlight .mo { color: #a5cadc } /* Literal.Number.Oct */
.highlight .sa { color: #48b685 } /* Literal.String.Affix */
.highlight .sb { color: #48b685 } /* Literal.String.Backtick */
.highlight .sc { color: #e7e9db } /* Literal.String.Char */
.highlight .dl { color: #48b685 } /* Literal.String.Delimiter */
.highlight .sd { color: #776e71 } /* Literal.String.Doc */
.highlight .s2 { color: #48b685 } /* Literal.String.Double */
.highlight .se { color: #a5cadc } /* Literal.String.Escape */
.highlight .sh { color: #48b685 } /* Literal.String.Heredoc */
.highlight .si { color: #a5cadc } /* Literal.String.Interpol */
.highlight .sx { color: #48b685 } /* Literal.String.Other */
.highlight .sr { color: #48b685 } /* Literal.String.Regex */
.highlight .s1 { color: #48b685 } /* Literal.String.Single */
.highlight .ss { color: #48b685 } /* Literal.String.Symbol */
.highlight .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
.highlight .fm { color: #06b6ef } /* Name.Function.Magic */
.highlight .vc { color: #ef6155 } /* Name.Variable.Class */
.highlight .vg { color: #ef6155 } /* Name.Variable.Global */
.highlight .vi { color: #ef6155 } /* Name.Variable.Instance */
.highlight .vm { color: #ef6155 } /* Name.Variable.Magic */
.highlight .il { color: #a5cadc } /* Literal.Number.Integer.Long */

@tailwind utilities;
